#login-container {
  width: 400px;
  margin: auto;
  /* position: absolute; */
  /* transform: translate(-50%,-50%); */
  background-color:white;
  border-radius:5%;
  padding:20px;
}
.img-responsive {
  display: inline-block;
}
h1 {
  color:white;
}
button {
  margin-top:5%;
  width: 100%;
  background-color:lightblue;
  text: bold;
}

body {
  background-color: #323845;
}

