<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/home.css">

{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-sm-4">    
        <img class="img-responsive" src="../static/overwatch.jpg">
    </div>
    <div class="col-sm-4 ">
        <img class="img-responsive" src="../static/league.jpg" >
    </div>
    <div class="col-sm-4">
        <img class="img-responsive" src="../static/fortnite.jpg" >
    </div>
</div>


{% endblock %}
